# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.*
!.example.env
!.env.example

# Prisma generated client & binaries (Di mana pun lokasinya)
**/generated/prisma

# Logs & OS files
*.log
.DS_Store
.vscode/